/*  --------------------------------------------------------------------------
    >>> Genaral setup 
    -------------------------------------------------------------------------- */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
}

/* Layout */

section {
    float: left;
    width: 50%;
}

aside {
    float: left;
    width: 30%;
}

nav {
    float: left;
    width: 20%;
}

footer {
    clear: both;
}

header, section, aside, nav, footer {
    padding: 20px;
}

/* Header and Footer */

header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
}

/*  --------------------------------------------------------------------------
    >>> Write your code below here 
    -------------------------------------------------------------------------- */

/* General text styling and fonts */

body {
    font-family: "PT Serif";
    font-size: 10px;
    line-height: 2.5em;
    word-spacing: 0.3em;
    letter-spacing: 0.1em;
}

h2 {
    font-family: "Roboto Slab";
    font-size: 3em;
}

li, p {
    font-size: 1.5em;
}

h1 {
    text-align: center;
    font-size: 5em;
}

h1, h2 {
    letter-spacing: 0.1em;
}

h2 + p {
    text-indent: 20px;
}

/* Links */

a {
    outline: none;
}

a:link, a:visited {
    color: #03A9F4;
}

a:focus, a:hover {
    color: #03A9F4;
    text-decoration: none;
}

a:active {
    text-shadow: 1px 1px 1px black;
}

a[href*="https"] {
    background: url("https://mdn.mozillademos.org/files/12982/external-link-52.png") no-repeat 100% 0;
    background-size: 16px 16px;
    padding-right: 19px;
}

/* Lists */

ul, ol {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: lower-alpha;
}

/* Navigation menu */

nav ul {
    padding-left: 0;
    margin-top: 3em;
}

nav li {
    margin-bottom: 1.5em;
    list-style-type: none;
}

nav a {
    display: inline-block;
    text-align: center;
    line-height: 3.5em;
    font-size: 1.5em;
    border: 1px solid #03A9F4;
    width: 100%;
    text-decoration: none;
}

nav a:focus, a:hover {
    background: #03A9F4;
    color: white;
}

nav a:active {
    background: #212121;
    color: white;
}

